* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* FONT AND NAV COLORS START */

body {
    background-color: black;
    overflow-x: hidden;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(143, 143, 143) !important;
    transition: all ease 1s;

}

.section-text {
    width: 100vh;
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#aboutme-text1 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
}

#aboutme-text2 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 100px;
    opacity: 0.2;
    position: absolute;
}

#contact-text1 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 50px;
    position: absolute;
}

#contact-text2 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 100px;
    opacity: 0.2;
    position: absolute;
}
/* FONT AND NAV COLORS END */

#accueil {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleh1 {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden; 
    white-space: nowrap;  
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
}

#titleh3 {
    font-size: 40px;
    color: rgb(182, 182, 182);
    animation: appears 3s steps(40) forwards;
    animation-delay: 2s;
    opacity: 0;
    margin-bottom: 30px;
}

/* Backup BUTTON */

#backup-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom: 0;
    background-color: #DB7D0F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backup-button:hover {
    cursor: pointer;
}

#backup-button a {
    color: black;
    transition: all ease 1s;
}

#backup-button a:hover {
    color: rgb(255, 255, 255);
}

/* About BUTTON */

.about-btn {
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #DB7D0F;
    text-decoration: none;
    color: white;
    width: 200px;
}

#about-btn:hover {
    background-color: #c2731a;
    transition: ease 1s;
}

/* About INFOS */

table {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
}

thead {
    margin: 30px;
    color: white;
    white-space: nowrap;
}

tr {
    padding: 10px;
}

td {
    padding: 10px;
    white-space: nowrap;
    font-size: 20px;
    
}

th {
    padding: 10px;
}



/* SECTIONS START */

#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 1000px;
    box-sizing: border-box;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100vw;
    background-color: rgb(224, 224, 224);
}

.aboutme-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aboutme-right {
    width: 50vw;
}



.square {
    width: 400px;
    border: 4px solid #db7c0f49;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box2 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    margin: 10px;
}

.form {
    width: 60vw;
}

#footer {
    width: 100vw;
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer h2 {
    color: white;
    font-size: 20px;
}

#footer h3 {
    color: white;
    font-size: 15px;
}

#form-send {
    margin: 10px;
}


/* SECTIONS END */

/* KEYFRAMES */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes appears {
    0% {opacity: 0}
    25% {opacity: 0.25}
    50% {opacity: 0.50}
    75% {opacity: 0.75}
    100% {opacity: 1}
}
/* KEYFRAMES END*/


/* MEDIA */

@media screen and (max-width: 770px) {

    #titleh1 {
        white-space: normal;
        animation: none;
    }

    #titleh3 {
        opacity: 1;
        animation: none;
    }
    

}

@media screen and (min-width: 1780px) {
    #aboutme-text1 {
        font-size: 40px;
    }

    #aboutme-text2 {
        font-size: 80px;
    }

    #contact-text1 {
        font-size: 30px;
    }

    #contact-text2 {
        font-size: 50px;
    }

    .form {
        width: 60vw;
    }

    #contact {
        height: 100vh;
        padding: 0;
    }


    
    .text-box2 {
        margin: 10px;
    }


}

@media screen and (max-width:1500px) {

    .aboutme-content {
        display: flex;
        flex-direction: column;
        height: auto;
        box-sizing: border-box;
    }

    .aboutme-right {
        box-sizing: border;
        padding: 10px;
        height: auto;
    }

    tr {
        padding: 5px;
    }
    
    td {
        padding: 10px;
        white-space: nowrap;
        font-size: 20px;
        
    }
    
    th {
        padding: 5px;
    }
    
}
