* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* FONT AND NAV COLORS START */

body {
    background-color: black;
    overflow-x: hidden;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(143, 143, 143) !important;
    transition: all ease 1s;

}

.section-text {
    width: 100vh;
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#aboutme-text1 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
}

#aboutme-text2 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 100px;
    opacity: 0.2;
    position: absolute;
}

#contact-text1 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 50px;
    position: absolute;
}

#contact-text2 {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 100px;
    opacity: 0.2;
    position: absolute;
}
/* FONT AND NAV COLORS END */

#accueil {
    margin: 350px;
}

#titleh1 {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden; 
    white-space: nowrap;  
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
}

#titleh3 {
    font-size: 40px;
    color: rgb(182, 182, 182);
    animation: appears 3s steps(40) forwards;
    animation-delay: 2s;
    opacity: 0;
    margin-bottom: 30px;
}

/* About BUTTON */

#about-btn {
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #DB7D0F;
    text-decoration: none;
    color: white;
    width: 200px;
}

#about-btn:hover {
    background-color: #c2731a;
    transition: ease 1s;
}

/* About INFOS */

table {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
}

thead {
    margin: 30px;
    color: white;
    white-space: nowrap;
}

tr {
    padding: 10px;
}

td {
    padding: 30px;
    white-space: nowrap;
    font-size: 20px;
    
}

th {
    padding: 10px;
}



/* SECTIONS START */

#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100vw;
    background-color: white;
}

.aboutme-left {
    width: 50vw;
    float: left;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aboutme-right {
    width: 50vw;
    float: right;
    right: 0px;
}



.square {
    width: 400px;
    height: 190px;
    border: 8px solid gold;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-box2 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}



/* SECTIONS END */

/* KEYFRAMES */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes appears {
    0% {opacity: 0}
    25% {opacity: 0.25}
    50% {opacity: 0.50}
    75% {opacity: 0.75}
    100% {opacity: 1}
}
/* KEYFRAMES END*/