* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* FONT AND NAV COLORS START */

body {
    background-color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(143, 143, 143) !important;
    transition: all ease 1s;

}
/* FONT AND NAV COLORS END */

#accueil {
    margin: 250px;
}

#titleh1 {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
}

#titleh3 {
    font-size: 40px;
    color: rgb(182, 182, 182);
    animation: appears 3s steps(40) forwards;
    animation-delay: 2s;
    opacity: 0;
}


/* KEYFRAMES */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes appears {
    0% {opacity: 0; font-size: 0px;}
    25% {opacity: 0.25; font-size: 10px;}
    50% {opacity: 0.50; font-size: 20px;}
    75% {opacity: 0.75; font-size: 30px;}
    100% {opacity: 1; font-size: 40px;}
}
/* KEYFRAMES END*/